<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>

  <%= f.fields_for :facilities do |builder| %>
    <fieldset>
      <%= builder.label :name, "Standortname" %>
      <%= builder.text_area :name, rows: 2 %> <br />
      <%= builder.label :location, "Ort" %>
      <%= builder.text_field :location %>   

    </fieldset>
  <% end %> 

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
